@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&family=Josefin+Sans:ital,wght@0,100;0,200;1,100;1,300;1,400&family=Orbitron:wght@400;500;600;800;900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@font-face {
    font-family:bord ;
    src: url(./assets/fonts/Bord.otf);
}
@font-face {
    font-family: cornera;
    src: url(./assets/fonts/Cornera-Regular.woff);
}
@font-face {
    font-family:quantom ;
    src: url(./assets/fonts/Quantum.otf);
}


:root{
    --header-height: 3.5rem;

    /* ====color choose==== */
    /* dark turquoise: 180 , 95 , 42 */
    /* Bright Turquoise: 183 , 84 , 51 */
    /* Medium red violet: 321 , 58 , 50 */
    
    /* ===color=== */

    --1st-color: hsl(180 , 95% , 42%);
    --title-color: #31C6D4;
    --text-color:hsl(180, 4%, 28%);
    --text-color-light:#00FFD1;
    --body-color:linear-gradient(rgba(0,0,0,0.9),
                                    rgba(0,0,0,0.9));
    --container-color: hsl(207,4%,95%);

    --gradient-color : linear-gradient(180deg,
                       hsla(180, 48%,72%, 0),
                        hsla(180, 65%, 65%, 1));

    /* ========== Font and Typography========== */

    --body-font:'Source Serif Pro', serif;
    --titile-font: quantom;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: 1r   em;
    --smaller-font-size: .913rem;
    --tiny-font-size: .900rem;
    
    /* ========== Font weight ========== */

    --font-medium: 500;
    --font-semi-bold: 600;

    /* ========== z index ========== */
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

    /* ========== Responsive Typography========== */
@media screen and (min-width: 1024px) {
    :root{
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 1.5rem;
        --smaller-font-size: .813rem;
        --tiny-font-size: .688rem;
    }   
}

    /* ========== BASE ========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: url(./assets/assets/bg.jpeg);
    color: var(--text-color);
    word-spacing: 1.5px;
}
h1,h2,h3{
    color: var(--title-color);
    font-family: var(--titile-font);
    font-weight: var(--font-medium);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}
    /* ========== THEME ========== */



    /* ========== VARIABLES DARK THEME ========== */



    /* ========== COLOR CHANGE ========== */


    /* ========== REUSABLE CSS CLASSES ========== */

.container{
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 2.5rem;
}

.section_border{
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 3.5rem;
}

.section_title,
.section_subtitle{
    text-align: center;
}

.section_title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}

.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-bottom: 3rem;
}
    /* ====THIS IS FOR ANIMATION LATER==== */
.main{
    overflow: hidden;  
}
    /* ========== HEADER NAV ========== */
.header{
    width: 100%;
    position: fixed;
    bottom: 2rem;
    left: 0;
    z-index: var(--z-fixed);
    }
.nav{
    height: calc(--header-height) + .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(./assets/assets/bg.jpeg);
    box-shadow: 0 4px 2-px hsla(180, 24%, 35%, .1);
    padding-inline: 1.5rem;
    border-radius: 3rem;
}
.nav_toggle{
    color: var(--title-color);
}
.nav_logo{
    width: 90px;
    height: 50px;
}

.nav_list .nav_item a{
    
    color: greenyellow;
    font-size: var(--smaller-font-size);
}

.nav_toggle{
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
}
@media screen and (max-width: 1023px) {
    .nav_menu{
        position: fixed;
        width: 88%;
        left: 0;
        right: 0;
        bottom: -60%;
        margin: 0 auto;
        background-color: var(--body-color);
        box-shadow: 0 4px 20px hsla(180,24%,35%,.1);
        padding: 1rem 2.5rem 1rem;
        border-radius: 2rem;
        transition: bottom .3s;
    }
}
.nav_list{
    grid-template-columns: repeat(5, max-content);
    justify-content: center;
    gap: 2rem 3rem;
}

.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    transition: color .3s;

}

.nav_link:hover{
    color: var(--title-color);
}

.nav_link i{
    font-size: 1.25rem;
}

.nav_close{
    position: absolute;
    right: 1.5rem;
    bottom: .7rem;
    font-size: 1.5rem;
    cursor: pointer;
}

   /* ==== SHOW MENU==== */
.show-menu{
    bottom:  2rem;
    background:#635985;
}


    /* ==== ACTIVE LINK==== */

    .active-link{
        color: var(--1st-color);
    }


/* ========== HJME ========== */
.home_container{
    row-gap: 4rem;
    padding-top: 2rem;
}
.home_data{
    row-gap: 1.5rem;
}

.home_title{
    text-align: center;
    font-size: var(--biggest-font-size);
    letter-spacing: .3px;
    margin-bottom: .5rem;
}

.home_blob{
    position: relative;
    width: 200px;
    height: 290px;
    background-color: var(--body-color);
    border: 2px solid var(--text-color-light);
    justify-self: center;
    border-radius: 6.25rem;
    place-items: center;
}

.home_prefil{
    width: 170px;
    height: 260px;
    background: url(./assets/img_compres/compres-b-profile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.home_prefil img{
    width: 150px;
    
}

.home_social{
    justify-self: center;
    display: flex;
    column-gap: 1.25rem;
}

.home_social_link{
    font-size: 1.25rem;
    color: var(--text-color-light);
    transition: color .3s;
}

.home_social_link:hover{
    color: var(--title-color);
}

.home_info{
    display: grid;
    row-gap: 2rem;
}

.home_info-title{
    font-family: var(--titile-font);
    font-size: var(--smaller-font-size);
    font-weight: 400;
    color: var(--text-color-light);
    margin-bottom: 1rem;
}

.home_info-description{
    font-family: var(--body-font);
    color: var(--title-color);
}

.home_info-description{
    padding-right: 4rem;
}


/* ========== SKILLS ========== */

.skills_content{
    row-gap: 3.5rem;
}
.skills_title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-family: var(--font-semi-bold);
    margin-bottom: 2.5rem;
    margin-top:1rem ;
}

.section_title{
    font-size: 1.5rem;
    font-weight: initial;
    margin-bottom: 1rem;
}

.skills_info,
.skills_data,
.skills_blob{
    display: grid;
}

.skills_info{
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
}

.skills_data{
    justify-content: center;
    text-align: center;
}

.skills_blob{
    width: 80px;
    height: 100px;
    background-color:var(--container-color);
    border-radius: 3rem;
    place-items: center;
    margin-bottom: 1rem;
}

.skills_blob img{
    width: 40px;
}

.skills_name{
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.skills_subtitle{
    font-size: var(--tiny-font-size);
    color: var(--text-color-light);
}

/* ========== ANIMATION SKILLS ========== */
.skills_blob:hover img{
    animation: bounce-skills .6s;
}

@keyframes bounce-skills {
    0%{
        transform: translate(0);
    }
    20%{
        transform: translate(-6px);
    }
    40%{
        transform: translate(0);
    }
    60%{
        transform: translateY(-3px);
    }
    80%{
        transform: translate(0);
    }
}

/* ========== PROJECTS ========== */

.projects_container{
    overflow: initial;
}

.projects_content{
    display: grid;
    justify-content: center;
}

.projects_img{
    width: 400px;
    height: 500px;
    border: .75rem;
    margin-bottom: 1.25rem;
}

.projects_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);   
}
.projects_title{
    font-size: var(--h2-font-size);
    margin-bottom: 1.25rem;
    margin: .5rem 0 1.25rem;
}


/* ====== Swiper class style */


.projects_container .swiper-button-next::after,
.projects_container .swiper-button-prev::after{
    content: '';
}

.projects_container .swiper-button-next,
.projects_container .swiper-button-prev{
    width: initial;
    height: initial;
    margin: initial;
    font-size: 2.5rem;
    color: var(--title-color);
}

.projects_container .swiper-button-prev{
    left: -1rem;
    top: 4.5rem;
}

.projects_container .swiper-button-next{
    right: -1rem;
    top: 4.5rem;
}

.projects_container .swiper-slide{
    margin-bottom: 4rem;
}
.projects_container .swiper-pagination-bullets{
    bottom: 0;
}

.projects_container .swiper-pagination-bullets{
    /* background-color: var(--text-color-light); */
   opacity: initial;
} 
.projects_container .swiper-pagination-bullets-active{
    background-color: var(--title-color);
} 

.gallery_container{
    display: grid;
    grid-template-columns: 2fr ; 
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    flex-wrap: wrap;
   
}

.gallery_box{
    position: relative;
    width: 350px;
    background-color:var(--gradient-color);
    border: 1px solid #ecec;
    margin: 20px;
    overflow: hidden;
 }

/* ====1 */

.gallery_box span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:5px;
    background: linear-gradient(to right, transparent, #17f3fd);
    animation: animate_one 2s linear infinite;
}

@keyframes animate_one{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
/* ====2 */

.gallery_box span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width:5px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #17f3fd);
    animation: animate_two 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate_two{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

/* ====1 */

.gallery_box span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:5px;
    background: linear-gradient(to left, transparent, #17f3fd);
    animation: animate_three 2s linear infinite;
}

@keyframes animate_three{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}


/* ====2 */

.gallery_box span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width:5px;
    height: 100%;
    background: linear-gradient(to top, transparent, #17f3fd);
    animation: animate_four 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate_four{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}


.gallery_img{
    width: 100%;
    height: auto;
    
}

.gallery_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery_text{

    padding: 30px;
    display: flex;
    flex-direction: column;
}

.gallery_text span{
    color: red;
    font-size: 0.9rem;
}

.gallery_text .gallery_title{
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 10px;
    color: var(--1st-color);
}

.gallery_text span .gallery_title:hover{
    color: red;
    transition: all ease 0.3s;
}


.gallery_text p{
    color:var(--1st-color);
    font-size: 0.9rem;
    display: --webkit-box;
    --webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
/* ========== BLOG ========== */
.blog_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: auto;
}
.blog_content .blog_card{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--body-color);
    border: solid 6px;
}
.blog_content .blog_card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
.blog_content .blog_card h2{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    color: var(--title-color);
    text-align: center;
}
.blog_content .blog_card p{
    font-size: 15px;
    color: var(--text-color-light);
    line-height: 1.5;
    padding: 10px;
    margin-top: 2px;
}

/* ========== FOOTER ========== */

.footer_container{
    padding: 3rem 0 7rem;
    text-align: center;
}

.footer_title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}
.footer_container p{
    color:var(--text-color-light);
}

.footer_list,
.footer_social{
    display: flex;
    justify-content: center;
}

.footer_list{
    margin: 2.5rem 0;
    column-gap: 2.5rem;
}

.footer_container img{
    width: 200px;
    height: 200px;
}

.footer_link{
    color: var(--title-color);
}
.footer_link:hover{
    text-decoration: underline;
}

.footer_social{
    column-gap: 1.25rem;
}

.footer_social-link{
    font-size: 1.25rem;
    color: var(--title-color);
    transition: transform .3s;
}

.footer_social-link:hover{
    transform: translateY(-.15rem);
}

.footer_copy{
    display: block;
    margin-top: 4.5rem;
    font-size: var(--smaller-font-size);
    color:var(--text-color-light);
}

/* ========= SCROLL BAR ========== */
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(180, 4%, 75%);
}

::-webkit-scrollbar-thumb{
    background-color: hsl(180, 4%, 65%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(180, 4%, 55%);
}

/* ========== SCROLL UP ========== */

.scroll_up{
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: var(--body-color);
    box-shadow: 0 4px 12px hsl(80, 24%,35%,.15);
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.1rem;
    color: var(--title-color);
    z-index: var(--z-tooltip);
    transition: bottom .3s transform .3s;
}

.scroll_up:hover{
    transform: translateY(-.30rem);
}

/* ========== SHOW SCROLL UP ========== */
.show-scroll{
    bottom: 7.5rem;
}


/* ========== FOR SMALL DEVICES ========== */
@media screen and (max-width:340px) {
    .container{
        margin-inline:1rem;
    }
    .nav_menu{
        padding-bottom: 4rem;
    }
    .nav_list{
        gap: 1rem 1.25rem;
    }
    
    .skills_info{
        grid-template-columns: repeat(2, 1fr);
    }

    .projects_img{
        width: 200px;
        justify-self: center;
    }
    .gallery_container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .gallery_box{
        width: 270px;
        height: 400px;

    }
    .blog_content{
        grid-template-columns: 1fr;
    }
    .blog_content .blog_card{
        width: 250px;
        height: 430px;
        
    }
    .blog_content .blog_card h2{
        font-size: 10px;
    }
    .blog_content .blog_card p{
        font-size: 7px;
    }
}
/* ========== FOR MEDIUM DEVICES ========== */
@media screen and (min-width: 576px) {
    .nav,
    .nav_menu{
        width: 600px;
    }
    .nav{
        margin: 0 auto;
    }

    .skills_container{
        justify-content: center;
    }
    
    .projects_container{
        width: 450px;
        overflow: hidden;
    }

    .projects_container .swiper-button-next{
        right: 1rem;
    }
    .projects_container .swiper-button-prev{
        left: 1rem;
    }
    .blog_content {
        grid-template-columns: 1fr;
       display: grid;
    }
    .blog_content .blog_card{
        width: 340px;
    }
    .gallery_box{
        margin: 0 auto;
    }
    .blog_content .blog_card h2,
    .blog_content .blog_card p{
        font-size: 12px;
    }
}

@media screen and (min-width: 767px) {
    .home_container{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .home_data{
        order: 2;
    }
    .home_info:nth-child(3){
        order: 3;
        text-align: right;
        
    }
    .home_info-title{
        font-size: 1rem;
    }
    .home_info{
        margin-top: 10rem;
    }
    .home_info-description{
        padding-right: 0px;
    }

    .skills_container{
        column-gap: 5rem;
        grid-template-columns: 1fr 1fr;
    }
    .projects_container{
        width: 500px;
    }

    .gallery_box{
        width: 300px;
        height: 400px;
    }
    .gallery_container{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .blog_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
 
}

/* ========== FOR LARGE DEVICES ========== */

@media screen and (min-width: 1023px) {

    .header{
        top: 0;
        bottom: initial;
        background-color: var(--body-color);
        transition: .4s;
    }
    .nav{
        width: initial;
        height: calc(var(--header-height) + 1.5rem);
        box-shadow: none;
        column-gap: 3rem;
        margin-inline: 1.5rem;
        padding: 0;
    }
    .nav_link i,
    .nav_toggle,
    .nav_close{
        display: none;
    }

    .nav_menu{
        width: initial;
        margin-left: auto;
        background-color: var(--body-color);
        transition: background .4s;
    }
    .nav_link{
        display: flex;
        column-gap: 3rem;
    }
    .nav_link{
        font-size: var(--normal-font-size);
    }
    .section{
        padding-block: 8rem 0;
    }
    .home_info .home_info-title{
        margin-top: 5rem;
    }
    .home_title{
        font-size: 2.25rem;
    }
    .scroll_up{
        right: 3rem;
    }
    .show-scroll{
        bottom: 5rem;
    }
    .gallery_box{
        width: 450px;
        height: 550px;
    }
    .projects_img{
        width: 435px;
    }
    .projects_container .swiper-button-next,
    .projects_container .swiper-button-prev{
        font-size: 4rem;
    }
    .projects_container .swiper-button-next{
        margin-top: 3rem;
        right: -1rem;
    }
    .projects_container .swiper-button-prev{
        left: -1rem;
        margin-top: 3rem;
    }
    
    .blog_content .blog_card h2{
        font-size: 1rem;
    }
    .blog_content .blog_card p{
        font-size: 20px;
    }
    .blog_content .blog_card{
        width: 400px;
    }


    /* CHANGE BACKGROUND HEADER */
.bg-header{
    box-shadow: 0 4px 20px hsla(180, 24%, 35%,.1) ;
}
}

@media screen and (min-width: 1048px) {
    .container {
        margin-inline: auto;
    }
}

@media screen and (min-width: 1200px) {
    .section{
        padding-bottom: 2rem;
    }
    .section_subtitle{
        margin-bottom: 5rem;
    }
    .home_title{
        font-size: var(--biggest-font-size);
    }
    .home_blob{
        width: 325px;
        height: 450px;
        border-radius: 12.5rem;
    }
    .home_prefil{
        width: 300px;
        height: 430px;
        border-radius: 10.6rem;
    }
    .home_prefil img{
        width: 300px;
    }

    .home_data{
        row-gap: 2.5rem;

    }
    .home_social{
        column-gap: 2rem;
    }
    .home_social_link{
        font-size: 1.5rem;
    }
    .home_info{
        grid-template-rows: repeat(3, 130px);
        row-gap: 3.5rem;
        margin-top: 4rem;
        margin-left: -5rem;
    }
    
    .skills_container{
        column-gap: 10rem;
        
    }
    .skills_title{
        margin-bottom: 3rem;
    }
    .skills_title i {
        font-size: 1.25rem;
    }
    .skills_name{
        font-size: var(--normal-font-size);
    }
    .skills_info{
        gap: 3rem;
    }
    
    .projects_container{
        width: 900px;
    }
    .projects_container .swiper-button-next,
    .projects_container .swiper-button-prev{
        font-size: 3rem;
    }
    .projects_container .swiper-button-next{
        right: -1rem;
    }
    .projects_container .swiper-button-prev{
        left: -1rem;
    }
    .projects_container  .swiper-slide{
        margin-bottom: 6.5rem;
    }
    .projects_img{
        width: 384px;
        margin-bottom: 2rem ;
    }
    
    .footer_container{
        padding: 4rem 0 3rem;
    }

    .footer_list{
        column-gap: 3rem;
        margin: 3rem 0;
    }

    .footer_social{
        column-gap: 2rem;
    }
    .footer_social-link{
        font-size: 1.5rem;
    }
    .footer_copy{
        margin-top: 5rem;
    }


}